html {
    box-sizing: border-box;
    font-size: 62.5%;  /* 1rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.6rem;
    text-align: center;
}

img {
    max-width: 85%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
    color: white;
}

button {
    background-color: #3883f6;
    color: white;
    padding: 1.5rem;
    font-weight: 700;
    border-radius: 15%;
}

.contenedor {
    width: min(80%, 120rem);
    margin: 0 auto;
}

.header {
    background-color: #1f2937;
    height: 50rem;
    color: white;

}

.header-nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    height: 8rem;
    gap: 2rem;
    color: white;
}

.logo {
    margin-right: auto;
}

.header-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.header-cont-img {
    width: 55rem;
    height: 27rem;
    border: 1px solid white;
    border-radius: 30%;
}

.main {
    margin: 10rem auto;
}

.main-img {
    width: 20rem;
    height: 20rem;
    border: 1px solid black;
    border-radius: 20%;
}

.contenido {
    display: flex;
}

.quote {
    background-color: #e5e7eb;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.quote-cont {
    font-size: 3.6rem;
    font-style: italic;
}

.quote-cont-autor {
    font-size: 2rem;
    text-align: end;
    font-weight: 700;
}

.sign-up {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    margin: 10rem auto;
    padding: 3rem;
    color: white;
}

.sign-up-title {
    font-weight: 700;
    font-size: 3rem;
}

.sign-up-button {
    width: 11rem;
    height: 6rem;
    margin: auto;
    border: 2px solid white;
}

.footer {
    margin-top: 8rem;
    text-align: center;
    background-color: #1f2937;
    padding: 5rem;
    color: white;
}